@import 'tailwindcss';

:root {
	--background: #191b28;
	--foreground: #171717;
	--primary: #ad2528;
	--border: #2a3439;
	--primary: #ad2528;
	--border: #2a3439;
	--color-bg: #191b28;
	--border: #242e32;
	--default-transition-duration: 333ms;
	--default-transition-timing-function: var(--ease-in-out);
	--sidebar-width: 15rem;
}

/* @theme {
	--primary: #ad2528;
	--border: #2a3439;
	--color-bg: #191b28;
	--border: #242e32;
	--default-transition-duration: 333ms;
	--default-transition-timing-function: var(--ease-in-out);
	--sidebar-width: 15rem;
} */
html,
body {
	@apply text-white text-base;
	background: var(--background);
}
